#mynetwork {
    width: 950px;
    height: 950px;
    border: 1px solid lightgray;
}

div.nodeContent {
    position: relative;
    border: 1px solid lightgray;
    width: 300px;
    height: 780px;
    margin-top: -952px;
    margin-left: 960px;
    padding: 10px;
}

pre {
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}