{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="../static/css/bootstrap-multiselect.css" type="text/css"/>
{% endblock %}
{% block body %}
    <script src="../static/js/highcharts.js"></script>
    <script src="../static/js/exporting.js"></script>
    <script src="../static/js/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="../static/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <script src="../static/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/bootstrap-multiselect.js"></script>

    <script type="text/javascript">
        $(".navbar-nav li a").addClass("disabled");
        $(document).ready(function() {
            $('#multiSelector').multiselect({includeSelectAllOption: true, buttonWidth: '400px'});
            $('#select').multiselect({buttonWidth: '250px'});
        });
    </script>

    <form method="POST">
        <select id="multiSelector" multiple="multiple" name="algoritmos">
            <option  value="0" selected> Louvain            </option>
            <option  value="1" selected> Greedy Newman      </option>
            <option  value="2" > Edge Betweenness           </option>
            <option  value="3" > Label Propagation          </option>
            <option  value="4" > Walktrap                   </option>
        </select>
        {% if ds %}
        <select id="select" name="bd">
            {% for e in ds %}
                <option  value="{{e|safe}}"> {{e|safe}} </option>
            {% endfor %}
        </select>
        {% endif %}
        <button type="submit" class="btn btn-primary">Comparar</button>
    </form>


    <div class="row">
        <div class="col-lg-4 col-sm-12" id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
        <div class="col-lg-4 col-sm-12" id="containerCom" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
        <div class="col-lg-4 col-sm-12" id="containerQ" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
    </div>
    {% if data %}
    <script>
        Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Tiempos'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            type: 'logarithmic',
            title: {
                text: 'tiempo(ms)'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Tiempo: <b>{point.y:.1f}ms</b>'
        },
        plotOptions: {column: {colorByPoint: true}},
        series: [{
            name: 'Tiempo',
            data: {{data|tojson}},
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:.1f}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });

        Highcharts.chart('containerCom', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Número de Comunidades'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: 'comunidades'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '<b>{point.y:.1f} comunidades</b>'
        },
        plotOptions: {column: {colorByPoint: true}},
        series: [{
            name: 'Comunidades',
            data: {{data1|tojson}},
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:.0f}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });

        Highcharts.chart('containerQ', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Modularidad'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min:0,
            max:1,
            title: {
                text: 'Q'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Modularidad: <b>{point.y:.2f}</b>'
        },
        plotOptions: {column: {colorByPoint: true}},
        series: [{
            name: 'Modularidad',
            data: {{data2|tojson}},
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:.2f}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });


    </script>
    {% endif %}

{% endblock %}