<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Titulo -->
        <title>Búsqueda de Comunidades | Fran Navarro</title>

        <!-- CSS locales -->
        <link href="../static/css//vis.min.css" rel="stylesheet" type="text/css"/>
        <link href="../static/css//vis-network.min.css" rel="stylesheet" type="text/css"/>
        <link href="../static/css//main.css" rel="stylesheet" type="text/css"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar sticky-top navbar-toggleable-md navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <h1 class="navbar-brand mb-0">DetCom</h1>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Doc</a>
                    </li>
                </ul>
                <a href="load" class="btn btn-outline-success my-2 my-sm-0" role="button">Añadir Red</a>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-9 top-buffer" id="mynetwork">

                </div>
                <div class="col-3">
                    <div class="top-buffer"></div>
                    <select class="custom-select" id="algGroup" onchange="updateIndex(value)">
                        <option {% if algInd|int == -1 %} selected {% endif %} value="-1" disabled>Algoritmos</option>
                        <option {% if algInd|int == 0 %} selected {% endif %} value="0" > Lovaina                           </option>
                        <option {% if algInd|int == 1 %} selected {% endif %} value="1" > Greedy -> Newman                  </option>
                        <option {% if algInd|int == 2 %} selected {% endif %} value="2" > Edge Betweenness -> Girvan-Newman </option>
                        <option {% if algInd|int == 3 %} selected {% endif %} value="3" > Label Propagation                 </option>
                    </select>
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Comunidades
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-block">
                                    <pre id="communities"></pre>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Metadatos Nodo
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-block">
                                    <pre id="nodeContent"></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JS Local-->
        <script type="text/javascript" src="../static/js/vis.min.js"></script>
        <script type="text/javascript" src="../static/js/vis-network.min.js"></script>
        <script type="text/javascript" src="../static/js/gephiParser.js"></script>
        <script type="text/javascript" src="../static/js/exampleUtil.js"></script>

        <!-- JS BootStrap -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <!-- Funciones de Dibujo -->
        <script type="text/javascript">



        var network;

        var nodes = new vis.DataSet();
        var edges = new vis.DataSet();
        var gephiImported;
        var algGroup = document.getElementById('algGroup')

        var parsed = parseGephi({{json | tojson}},
            {
                fixed: false,
                parseColor: true
            }
        );

        nodes.add(parsed.nodes);
        edges.add(parsed.edges);


            function updateIndex(value) {
                if (value >= 0){
                    var ruta = "http://localhost:8080/alg/" + value;
                    window.location.replace(ruta);
                }
            }

        //    var fixedCheckbox = document.getElementById('fixed');
        //    fixedCheckbox.onchange = redrawAll;

        //    var parseColorCheckbox = document.getElementById('parseColor');
        //    parseColorCheckbox.onchange = redrawAll;

        var nodeContent = document.getElementById('nodeContent');
        var communitiesContent = document.getElementById('communities');

        //    loadJSON('../static/data/red'+selected+'.json', redrawAll, function (err) {
        //        console.log('error')
        //    });

        var container = document.getElementById('mynetwork');
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {
            nodes: {
                borderWidth: 1,
                shape: 'dot',
                scaling: {
                    min: 10,
                    max: 30,
                    label: {
                        min: 8,
                        max: 30,
                        drawThreshold: 12,
                        maxVisible: 20
                    }
                },
                font: {
                    size: 12,
                    face: 'Tahoma'
                }
            },
            edges: {
                width: 0.15,
                color: {inherit: 'from'},
                smooth: {
                    type: 'continuous'
                }
            },
            groups:{
                useDefaultGroups: true,
                com0: {color:{background:'rgb(20,20,255)'}},
                com1: {color:{background:'rgb(153,0,0)'}},
                com2: {color:{background:'rgb(153,0,153)'}},
                com3: {color:{background:'rgb(230,230,10)'}},
                com4: {color:{background:'rgb(153,77,0)'}},
                com5: {color:{background:'rgb(0,153,77)'}},
                com6: {color:{background:'rgb(0,153,0)'}},
                com7: {color:{background:'rgb(255,20,255)'}},
                com8: {color:{background:'rgb(20,20,20)'}},
                com9: {color:{background:'rgb(79,156,79)'}}
            },
            interaction: {
                tooltipDelay: 200,
                hideEdgesOnDrag: true
            },
            physics: {
                stabilization: false,
                barnesHut: {
                    gravitationalConstant: -4000,
                    springConstant: 0.001,
                    springLength: 200
                },
                forceAtlas2Based: {
                    gravitationalConstant: -26,
                    centralGravity: 0.005,
                    springLength: 230,
                    springConstant: 0.18
                },
                maxVelocity: 146,
                solver: 'barnesHut',
                timestep: 0.35,
                stabilization: {
                    enabled:true,
                    iterations:2000,
                    updateInterval:25
                }
            }
        };

        network = new vis.Network(container, data, options);
        network.fit();
        network.on('click', function (params) {
            if (params.nodes.length > 0) {
                var selectedNode = params.nodes[0];
                var data = nodes.get(selectedNode); // get the data from selected node
                nodeContent.innerHTML = JSON.stringify(data, undefined, 3); // show the data in the div
                var connectedNodes = network.getConnectedNodes(selectedNode);
//                console.log(selectedNode);
    //            nodes.update([{id:data['id'], hidden:true}]);

            }
        })

        {% if communities %}
            {% for c in communities %}

                nodes.update([{id:{{ loop.index }}, group:"com"+{{ c|int }}}]);
            {% endfor %}
            var data = nodes.get(108); // get the data from node 2 as example
            nodeContent.innerHTML = JSON.stringify(data, undefined, 3); // show the data in the div
            network.fit(); // zoom to fit
            setCommunityData();
        {% endif %}


        function getCommunityColor(){
            return network["groups"]["groups"];
        }

        function enlacesInOut(nodo) {
            var connectedNodes = network.getConnectedNodes(nodo.id);
            var entrada = 0;
            var salida = 0;

//            console.log(connectedNodes);
            connectedNodes.forEach(function (e) {
//                console.log("Will:"+nodo.group+", "+nodes.get(e).label+":"+(nodes.get(e)).group);
                if (nodo.group === (nodes.get(e)).group) {
                    entrada++;
                }else {
                    salida++;
                }
            });
            return {com: nodo.group,
                    enlaces: {
                    in: entrada,
                    out: salida}
            };
        }


        function setCommunityData() {
            var valoresCom = {};
            var colores = getCommunityColor();
            var numberOfCom = [];


            nodes.forEach(function (element) {
                if(numberOfCom.indexOf(element.group) < 0){
                    numberOfCom.push(element.group);
                }
                var aux = enlacesInOut(element);
                if (!valoresCom[aux.com]) {
                    valoresCom[aux.com] = aux.enlaces;
                }else{
                    valoresCom[aux.com].in += aux.enlaces.in;
                    valoresCom[aux.com].out += aux.enlaces.out;
                }

            });
            var html = "";
            console.log(valoresCom);

            Object.keys(colores).forEach(function(key, index) {
//                console.log(this[key].color.background);
                if (numberOfCom.indexOf(key) >= 0) {
                    var total = valoresCom[key].in + valoresCom[key].out;
                    var dentro = (valoresCom[key].in/total)*100;
                    var fuera = (valoresCom[key].out/total)*100;
                    html += '<span style="background:' + this[key].color.background + '">&nbsp;&nbsp;</span> Comunidad ' + index + ' (' + dentro.toPrecision(2) + '%, ' + fuera.toPrecision(2) + '%)<br>';
                }
            }, colores);

            communitiesContent.innerHTML =  html +
                                            "<br>Tiempo: " + {{time|float|round(3, 'ceil')}} + " ms<br>" +
                                            "Modularidad: " + {{modularidad|float|round(3, 'ceil')}};
        }
        /**
         * This function fills the DataSets. These DataSets will update the network.
         */
    //        function redrawAll() {
    //            if (gephiJSON.nodes === undefined) {
    //                gephiJSON = gephiImported;
    //            }
    //            else {
    //                gephiImported = gephiJSON;
    //            }
    //
    //            nodes.clear();
    //            edges.clear();

        //        var fixed = fixedCheckbox.checked;
        //        var parseColor = parseColorCheckbox.checked;

    //            var parsed = vis.network.gephiParser.parseGephi(gephiJSON, {
    //                fixed: false,
    //                parseColor: true
    //            });
    //
    //            // add the parsed data to the DataSets.
    //            nodes.add(parsed.nodes);
    //            edges.add(parsed.edges);

    //            var communities = [];
    //            nodes.forEach(function(element) {
    //
    //                if (communities.includes(element["color"])){
    //
    //                }else{
    //                    communities.push(element["color"]);
    //                }
    //            });
    //            console.log(communities);
    //            communitiesContent.innerHTML = "Número de comunidades: " + communities.length + "<br>Colores: " + communities;
    //
    //            var data = nodes.get(108); // get the data from node 2 as example
    //            nodeContent.innerHTML = JSON.stringify(data, undefined, 3); // show the data in the div
    //            network.fit(); // zoom to fit
    //        }

    </script>
    </body>
</html>