<nav class="navbar sticky-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mb-0" href="/">DetCom</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#myModal" href="/">Subir Red</a>
            </li>
            <li class="dropdown nav-item">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="/" id="SelData" >Seleccionar Redes
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if ds %}
                            {% for e in ds %}
                                <li>&nbsp&nbsp<a href="/setDB/{{e['name']|safe}}"> {{e["name"]|safe}} </a>&nbsp&nbsp</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/comparative">Comparar</a>
            </li>
        </ul>
        <a class="nav-link" href="/doc">Documentación</a></span>
    </div>
</nav>
<div class="top-buffer"></div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form action="" method=post enctype=multipart/form-data>

                <div class="fileupload fileupload-new" data-provides="fileupload">
                <span class="btn btn-primary btn-file"><span class="fileupload-new">Elegir archivo</span>
                <span class="fileupload-exists">Cambiar</span>         <input type="file" name="file" /></span>
                <span class="fileupload-preview"></span>
                <a href="" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                    <span class="fileupload-exists"><input type=submit value=Subir></span>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>